{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "@salesforce/eslint-config-lwc/recommended"
  ],
  "plugins": ["import"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "space-in-brackets": ["error", "always"],
    "indent": ["error", 2]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  }
}
